@import url('https://fonts.googleapis.com/css?family=Staatliches');
@import url('https://fonts.googleapis.com/css?family=Mukta');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

body{
    background: #222;
    font-family: sans-serif;
}
h1{ font-family: 'Staatliches', cursive;}

p, span{
  font-family: 'Mukta', sans-serif;
}
